* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    max-width: 1540%;
    margin: 0 auto;
}

header {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}


header, head {
    display: flex;
    gap: 10%;
    /* justify-content: space-between; */
    align-items: center;
    margin: auto;
}



.left {
    display: flex;
    width: 40%;
    margin: 2% 4%;
}

.left img {
    width: 30%;
}


.head > img {
    display: none;
}



nav {
    width: 35%;
    margin: 2% 4% 1% 0;
}



nav a {
    text-decoration: none;
    padding: 2%;
    color: var(--Mid-grey, #AFAFAF);
    font-style: normal;
    font-weight: 600;
    font-family: 'Playfair Display';
    font-size: 24px;
}

.home {
    color: var(--Pry, #005C4D);
    font-family: 'Playfair Display';
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

button {
    padding: 12px 40px;
    font-style: normal;
    font-size: 22px;
    border-radius: 100px;
    background: var(--Pry, #005C4D);
    color: white;
}


/* .nav2 a {
    text-decoration: none;
    color: var(--Mid-grey, #AFAFAF);
    font-family: 'Playfair Display';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    gap: 54px;
    display: none;
} */

section {
    background-image: url(Hero.png);
    display: flex;
    justify-content: center;
    gap: 13%;
}

section > .section22 {
    width: 45%;
    padding: 13% 0;
    margin: 0 4%;
}

section > .section22 h1 {
    color: var(--Pry, #005C4D);
    font-family: "Playfair Display";
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 16px;
}

section > .section22 p {
    color: var(--Black, #171717);
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    padding-bottom: 24px;
}

section > .section22 button {
    padding: 12px 40px;
}

section > .div1 {
    width: 45%;
    margin: 0 2%;
}

section > .div1 img {
    width: 85%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    border-top-left-radius: 35%;
    padding: 15% 0;
}